/* editor-fonts.css */
.editor-observacoes .ql-font-Arial {
  font-family: Arial, sans-serif;
}

.editor-observacoes .ql-font-Georgia {
  font-family: Georgia, serif;
}

.editor-observacoes .ql-font-Times {
  font-family: 'Times New Roman', Times, serif;
}

.editor-observacoes .ql-font-Verdana {
  font-family: Verdana, sans-serif;
}