.ql-font-Arial {
  font-family: Arial, sans-serif;
}

.ql-font-Georgia {
  font-family: Georgia, serif;
}

.ql-font-Times {
  font-family: 'Times New Roman', Times, serif;
}

.ql-font-Verdana {
  font-family: Verdana, sans-serif;
}