@font-face {
  font-family: 'Arial';
  src: local('Arial');
}

@font-face {
  font-family: 'Georgia';
  src: local('Georgia');
}

@font-face {
  font-family: 'Times';
  src: local('Times New Roman');
}

@font-face {
  font-family: 'Verdana';
  src: local('Verdana');
}